@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
} */

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  html {
    color-scheme: dark;
  }
}

@layer components {
  .prose .anchor {
    @apply opacity-0 no-underline cursor-pointer ease-in duration-150 inline-block ml-2;
  }

  .prose *:hover > .anchor {
    @apply no-underline opacity-100;
  }

  .prose .anchor .visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }

  .prose :where(ul > li):not(:where([class~="not-prose"] *))::marker,
  .prose :where(ol > li):not(:where([class~="not-prose"] *))::marker {
    @apply text-indigo-10 dark:text-indigodark-10;
  }

  .prose :where(ol > li):not(:where([class~="not-prose"] *))::marker {
    @apply font-medium;
  }

  /* .prose :where(code):not(:where([class~="not-prose"] *))::before {
    content: none;
  }

  .prose :where(code):not(:where([class~="not-prose"] *))::after {
    content: none;
  } */

  .prose pre {
    @apply bg-indigo-2 dark:bg-indigodark-2 rounded-lg overflow-x-auto border border-slate-2 dark:border-indigo-9;
  }

  .prose code {
    @apply px-1 py-0.5 rounded-md;
  }

  .prose pre code {
    @apply p-0;
    border: initial;
    line-height: 1.5;
  }

  .prose code span {
    @apply font-medium;
  }

  .prose :where(blockquote):not(:where([class~="not-prose"] *)) {
    @apply border-l-4 border-slate-6 dark:border-slatedark-6 rounded-l text-slate-12 dark:text-slatedark-12;
  }

  .prose
    :where(code):not(
      :where([class~="not-prose"], [class~="not-prose"] *)
    )::before {
    content: none;
  }

  .prose
    :where(code):not(
      :where([class~="not-prose"], [class~="not-prose"] *)
    )::after {
    content: none;
  }

  /* Toc */
  .js-toc {
    @apply text-slate-11 dark:text-slatedark-11;
  }

  .js-toc .toc-list .toc-list {
    @apply pl-3 mb-1;
  }

  .js-toc .toc-list .toc-list a {
    @apply text-xs;
  }

  .js-toc > .toc-list > li:not(:last-child) {
    @apply mb-3;
  }

  .js-toc a {
    @apply no-underline text-sm hover:text-indigo-7 dark:hover:text-indigodark-7;
  }

  .js-toc a.is-active-link {
    @apply text-indigo-8 dark:text-indigodark-8;
  }
}

.full-page-toc {
  @apply text-indigo-12 dark:text-indigodarka-12;
}

.full-page-toc .toc-list .toc-list {
  @apply pl-3 mb-1;
}

.full-page-toc .toc-list .toc-list a {
  @apply text-xs;
}

.full-page-toc > .toc-list > li:not(:last-child) {
  @apply mb-3;
}

.full-page-toc a {
  @apply no-underline text-sm hover:text-indigo-9 dark:hover:text-indigodark-9;
}

.react-tweet-theme {
  margin: 0px 0px 16px 0px !important;
}
/* .full-page-toc a.is-active-link {
    @apply text-indigo-8 dark:text-indigodark-8;
  } */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .max-w-1096 {
    max-width: 1096px;
  }
}
