@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .prose .anchor {
    @apply opacity-0 no-underline cursor-pointer ease-in duration-150 inline-block ml-2;
  }

  .prose *:hover > .anchor {
    @apply no-underline opacity-100;
  }

  .prose .anchor .visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }

  .prose :where(ul > li):not(:where([class~="not-prose"] *))::marker,
  .prose :where(ol > li):not(:where([class~="not-prose"] *))::marker {
    @apply text-indigo-10 dark:text-indigodark-10;
  }

  .prose :where(ol > li):not(:where([class~="not-prose"] *))::marker {
    @apply font-medium;
  }

  .prose :where(code):not(:where([class~="not-prose"] *))::before {
    content: none;
  }

  .prose :where(code):not(:where([class~="not-prose"] *))::after {
    content: none;
  }

  .prose :where(blockquote):not(:where([class~="not-prose"] *)) {
    @apply border-l-4 border-slate-6 dark:border-slatedark-6 rounded-l text-slate-12 dark:text-slatedark-12;
  }

  /* Toc */
  .js-toc {
    @apply text-slate-11 dark:text-slatedark-11;
  }

  .js-toc .toc-list .toc-list {
    @apply pl-3 mb-1;
  }

  .js-toc .toc-list .toc-list a {
    @apply text-xs;
  }

  .js-toc > .toc-list > li:not(:last-child) {
    @apply mb-3;
  }

  .js-toc a {
    @apply no-underline text-sm hover:text-indigo-7 dark:hover:text-indigodark-7;
  }

  .js-toc a.is-active-link {
    @apply text-indigo-8 dark:text-indigodark-8;
  }
}
.full-page-toc {
  @apply text-indigo-12 dark:text-indigodarka-12;
}

.full-page-toc .toc-list .toc-list {
  @apply pl-3 mb-1;
}

.full-page-toc .toc-list .toc-list a {
  @apply text-xs;
}

.full-page-toc > .toc-list > li:not(:last-child) {
  @apply mb-3;
}

.full-page-toc a {
  @apply no-underline text-sm hover:text-indigo-9 dark:hover:text-indigodark-9;
}

/* .full-page-toc a.is-active-link {
    @apply text-indigo-8 dark:text-indigodark-8;
  } */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .max-w-1096 {
    max-width: 1096px;
  }
}

/* pretty-code */

div[data-rehype-pretty-code-fragment] {
  @apply my-6;
}

div[data-rehype-pretty-code-fragment] > pre {
  @apply dark:!bg-indigodark-2 !bg-indigo-2;
}

[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] span[data-line] {
  @apply border-l-[2px] border-transparent px-4;
}
div[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply dark:bg-slatedark-7/30 dark:border-l-bluedark-8 py-1 bg-slate-7/30 border-l-blue-8;
}

[data-rehype-pretty-code-fragment]
  [data-line-numbers]
  > span[data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
}

[data-rehype-pretty-code-fragment] .line-highlighted span {
  @apply relative;
}

[data-rehype-pretty-code-fragment] span[data-highlighted-chars] {
  @apply rounded-md dark:bg-slatedark-7/30 p-1 bg-slate-7/30;
}

[data-rehype-pretty-code-title] {
  @apply px-4 py-3 font-mono text-xs font-medium border-b rounded-t-lg dark:text-slatedark-11 dark:border-indigodark-6 dark:bg-indigodark-2 text-slate-11 border-indigo-6 bg-indigo-2;
}

[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none border-t-0;
}

/* @media (prefers-color-scheme: dark) {
  pre[data-theme="light"],
  code[data-theme="light"] {
    display: none;
  }
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  pre[data-theme="dark"],
  code[data-theme="dark"] {
    display: none;
  }
} */
